#
# Copyright (c) 2018-2020 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
---
apiVersion: v1
kind: Template
metadata:
  name: che-devfile-registry
objects:
- apiVersion: v1
  kind: DeploymentConfig
  metadata:
    labels:
      app: che-devfile-registry
    name: che-devfile-registry
  spec:
    replicas: 1
    selector:
      app: che-devfile-registry
      deploymentconfig: che-devfile-registry
    strategy:
      rollingParams:
        intervalSeconds: 1
        maxSurge: 25%
        maxUnavailable: 25%
        timeoutSeconds: 600
        updatePeriodSeconds: 1
      type: Rolling
    template:
      metadata:
        labels:
          app: che-devfile-registry
          deploymentconfig: che-devfile-registry
      spec:
        containers:
        - image: ${IMAGE}:${IMAGE_TAG}
          imagePullPolicy: "${PULL_POLICY}"
          name: che-devfile-registry
          ports:
          - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /devfiles/
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /devfiles/
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 10
            timeoutSeconds: 3
          resources:
            requests:
              cpu: 1m
              memory: 5Mi
            limits:
              cpu: 100m
              memory: ${MEMORY_LIMIT}
          envFrom:
          - configMapRef:
              name: che-devfile-registry
              optional: true
    triggers:
    - type: ConfigChange
- apiVersion: v1
  kind: Service
  metadata:
    name: che-devfile-registry
  spec:
    ports:
      - protocol: TCP
        port: 80
        targetPort: 8080
    selector:
      deploymentconfig: che-devfile-registry
- apiVersion: v1
  kind: Route
  metadata:
    name: che-devfile-registry
  spec:
    to:
      kind: Service
      name: che-devfile-registry
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: che-devfile-registry
  data:
     CHE_DEVFILE_IMAGES_REGISTRY_URL: ${CHE_DEVFILE_IMAGES_REGISTRY_URL}
     CHE_DEVFILE_IMAGES_REGISTRY_ORGANIZATION: ${CHE_DEVFILE_IMAGES_REGISTRY_ORGANIZATION}
     CHE_DEVFILE_IMAGES_REGISTRY_TAG: ${CHE_DEVFILE_IMAGES_REGISTRY_TAG}

parameters:
- name: IMAGE
  value: quay.io/eclipse/che-devfile-registry
  displayName: Eclipse Che devfile registry image
  description: Che devfile registry Docker image. Defaults to quay.io/eclipse/che-devfile-registry
- name: IMAGE_TAG
  value: nightly
  displayName: Eclipse Che devfile registry version
  description: Eclipse Che devfile registry version which defaults to nightly
- name: MEMORY_LIMIT
  value: 256Mi
  displayName: Memory Limit
  description: Maximum amount of memory the container can use. Defaults 256Mi
- name: PULL_POLICY
  value: Always
  displayName: Eclipse Che devfile registry image pull policy
  description: Always pull by default. Can be IfNotPresent
- name: CHE_DEVFILE_IMAGES_REGISTRY_URL
  displayName: Devfile image registry URL
  description: URL of docker registry containing base images refered in devfiles; used to override base images in devfiles
- name: CHE_DEVFILE_IMAGES_REGISTRY_ORGANIZATION
  displayName: Devfile image registry organization
  description: Organization containing images referenced in devfiles; used to override base images in devfiles
- name: CHE_DEVFILE_IMAGES_REGISTRY_TAG
  displayName: Devfile image registry tag
  description: Tag used for custom devfile images; used to override base images in devfiles
