#
# Copyright (c) 2020 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

name: PR Checks

on:
  pull_request:
    branches: 
      - master

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Shellcheck
        run: |
          find . -type f -name '*.sh' | wc -l
          find . -type f -name '*.sh' | xargs shellcheck --external-sources

  digest-validation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
          fetch-depth: 0
    - name: Run script which checks container image digest
      run: |
        sudo pip install yq
        /bin/bash .ci/devfile-images-check.sh

  build:

    runs-on: ubuntu-latest

    steps:
    - name: 'Checkout Source Code'
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
        
    - name: Cache docker layers
      uses: actions/cache@v2
      id: cache
      with:
        path: /tmp/.buildx-cache
        key: v2-${{ github.head_ref }}
    
    - name: 'Docker Prepare'
      run: docker image prune -a -f

    - name: Build devfile registry
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./build/dockerfiles/Dockerfile
        target: registry
        platforms: linux/amd64,linux/s390x
        tags: app
        cache-from: "type=local,src=/tmp/.buildx-cache"
        cache-to: "type=local,dest=/tmp/.buildx-cache"
        push: false
    
    - name: Build offline devfile registry
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./build/dockerfiles/Dockerfile
        target: offline-registry
        platforms: linux/amd64,linux/s390x
        tags: app
        cache-from: "type=local,src=/tmp/.buildx-cache"
        push: false
